In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\文件\car_sales.csv")

In [ ]:
#how many rows and columns does the dataset have?

In [10]:
df.shape```````````````````````

(157, 16)

In [ ]:
#what are the data types of each column?

In [14]:
df.dtypes

Manufacturer            object
Model                   object
Sales_in_thousands     float64
__year_resale_value    float64
Vehicle_type            object
Price_in_thousands     float64
Engine_size            float64
Horsepower             float64
Wheelbase              float64
Width                  float64
Length                 float64
Curb_weight            float64
Fuel_capacity          float64
Fuel_efficiency        float64
Latest_Launch           object
Power_perf_factor      float64
dtype: object

In [ ]:
# Are there any missing in dataset?

In [15]:
df.isnull().sum()

Manufacturer            0
Model                   0
Sales_in_thousands      0
__year_resale_value    36
Vehicle_type            0
Price_in_thousands      2
Engine_size             1
Horsepower              1
Wheelbase               1
Width                   1
Length                  1
Curb_weight             2
Fuel_capacity           1
Fuel_efficiency         3
Latest_Launch           0
Power_perf_factor       2
dtype: int64

In [ ]:
#Are there any duplicate rows?

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
import pandas as pd

In [22]:
df = pd.read_csv(r"C:\Users\kisho\OneDrive\文件\car_sales.csv")

In [ ]:
# how many unique car Manufacturere are there?

In [24]:
df["Manufacturer"].nunique()

30

In [ ]:
#Which Manufacturer has the highest number of car models?

In [28]:
df['Manufacturer'].value_counts().idxmax()

'Ford'

In [ ]:
#which Manufacturer has the highest total sales (sales_in_thousands)?

In [29]:
df['Manufacturer'].value_counts().idxmax()

'Ford'

In [ ]:
#how does the average price differ by vehicle_type(eg,SUV vs sedan)?

In [30]:
df.groupby('Vehicle_type')['Price_in_thousands'].mean()

Vehicle_type
Car          26.319975
Passenger    27.763200
Name: Price_in_thousands, dtype: float64

In [ ]:
#which vehicle type is most fuel_efficient on average?

In [32]:
df.groupby('Vehicle_type')['Fuel_efficiency'].mean().idxmax()

'Passenger'

In [33]:
df

,Manufacturer,Model,Sales_in_thousands,__year_resale_value,Vehicle_type,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Acura,Integra,16.919,16.360,Passenger,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2/2/2012,58.280150
1,Acura,TL,39.384,19.875,Passenger,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,6/3/2011,91.370778
2,Acura,CL,14.114,18.225,Passenger,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,1/4/2012,NaN
3,Acura,RL,8.588,29.725,Passenger,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,3/10/2011,91.389779
4,Audi,A4,20.397,22.255,Passenger,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,10/8/2011,62.777639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,Volvo,V40,3.545,NaN,Passenger,24.40,1.9,160.0,100.5,67.6,176.6,3.042,15.8,25.0,9/21/2011,66.498812
153,Volvo,S70,15.245,NaN,Passenger,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,11/24/2012,70.654495
154,Volvo,V70,17.531,NaN,Passenger,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,6/25/2011,71.155978
155,Volvo,C70,3.493,NaN,Passenger,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,4/26/2011,101.623357
156,Volvo,S80,18.969,NaN,Passenger,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,11/14/2011,85.735655