In [ ]:
list1 =[3,4,5,9,14]
sum=0
for i in list1:
    sum =sum+i
    print("the sum is:",sum)

the sumis: 3
the sumis: 7
the sumis: 12
the sumis: 21
the sumis: 35

In [ ]:
a=[2,12,5,24,103,31,9,17,8]
even=0
for i in a:
  if i%2==0:
   even = even+1
print("count of even=",even)

count of even= 4

In [ ]:
a="kishore"
# for loop
# while loop
string=""
for i in range (len(a)):
   print (i)
   string= a[i]+string
string

0
1
2
3
4
5
6

'erohsik'

In [ ]:
a=(1,2,3,4,)
print(list)

[1, 2, 3, 4]

In [ ]:
a={"a":1,"b":2,"c":4}
b={"d":5,"e":6}
c={**a,**b}
print(c)

{'a': 1, 'b': 2, 'c': 4, 'd': 5, 'e': 6}

In [ ]:
 x=[2,3,4,5,5,4,3,2]
 print(list(set(x)))

[2, 3, 4, 5]

In [ ]:
num=[1,2,3,4,5]
if numbers == sorted (num) :
  print("list is sorted")
else:
  print("list is not sorted")

list is sorted